
@{
    ViewBag.Title = "RUG";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align:center">
    <img style="max-height:300px;transform:rotate(180deg)" src="~/Content/img/162b6d8cb485a3ac91a56c3f3e36534d.png" />
    <img src="~/Content/img/Cool Text - Reversed Umbrella 314855565896977.png" />
</div>
<div style="transform:translateY(150px)" class="row">
    <div style="text-align:right" class="col-4">
        <a href="#">
            <img style="width:200px;height:200px;" src="~/Content/img/clipart171363.png" />
        </a>
    </div>
    <div style="text-align:center" class="col-4">
        <a href="#">
            <img style="width:200px;height:200px;text-align:center" src="~/Content/img/clipart2661594.png" />
        </a>

    </div>
    <div style="text-align:left" class="col-4">
        <a href="#">
            <img style="width:200px;height:200px;text-align:left" src="~/Content/img/clipart365652.png" />
        </a>

    </div>
</div>
